@import '../../styles/variables';

.article {
  display: flex;
  flex-direction: column;
  min-height: 420px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 590px) {
    min-height: 380px;
  }
}

.img-container {
  position: relative;
}

.read {
  opacity: 0.5;
}

.article-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex: 1;
}

.masonry {
  div:first-child {
    div:first-child {
      flex: 2 1 0% !important;
    }
  }
}

.title {
  font-family: $serif;
  font-size: 1.5em;
  font-weight: $bold;
  line-height: 1.7rem;
  margin: 1rem 0;
}

.more-on {
  font-size: 0.8rem;
  font-weight: $bold;
  padding: 0.5rem 0;
  text-align: right;
  text-transform: uppercase;
}
