@import '../../styles/variables';

.wrapper {
  column-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.article {
  align-content: space-between;
  background-color: $white;
  border-bottom: 1px solid $gray;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  width: 31%;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 591px) and (max-width: 960px) {
    width: 47%;
  }

  @media only screen and (max-width: 590px) {
    width: 100%;
  }
}

.title {
  font-family: $serif;
  font-size: 1.6rem;
  font-weight: $bold;
  line-height: 1.7rem;
  margin: 0;
  padding: 1rem 0;
}

.trail-text {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: 1rem 0;
}

.more-on {
  font-weight: $bold;
  padding-top: 1rem;
  text-align: right;
}
