@import '../../styles/variables';

.article {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  min-height: 420px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 590px) {
    min-height: 380px;
  }
}

.article-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  height: 150px;
  min-height: 150px;
  overflow: hide;
  width: 100% !important;
}

.masonry {
  div:first-child {
    div:first-child {
      flex: 2 1 0% !important;
    }
  }
}

.title {
  font-family: $serif;
  font-size: 1.5em;
  font-weight: $bold;
  line-height: 1.7rem;
  margin: 0 0 1rem;
}

.trail-text {
  background-color: #eee;
  flex: 0;
  font-size: 0.9rem;
  line-height: 1.1rem;
  padding: 1rem;
}

.more-on {
  font-size: 0.8rem;
  font-weight: $bold;
  padding: 0.5rem 0;
  text-align: right;
  text-transform: uppercase;
}
