@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap');

html,
body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: #bf0024;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #1f1e1e;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 1rem;
  width: 100%;
}

footer {
  background-color: #ddd;
  border-top: 1px solid #eee;
  font-size: 0.8rem;
  margin: 2rem auto 0;
  padding: 2rem 3rem;
  text-align: center;
}
