// Colours

$red: #bf0024;
$orange: #ffa500;
$black: #1f1e1e;
$true-black: #000;
$white: #fff;
$gray: #ddd;
$light-gray: #eee;
$dark-gray: #666;

// Fonts

$serif: 'PT Serif', serif;
$sans-serif: 'Lato', sans-serif;
$normal: 400;
$bold: 700;
